@media screen and (max-width: 1024px)
	#container
		.aboutMe-professional
			.floatContent
				.myImage
					img
						width: 100px
						height: 100px
				.aboutMeF
					p
						font-size: 14px
			#professional
				.innerProfessional
					#titleProfessional
						h1
							font-size: 39px
						h4
							font-size: 22px
		.portfolio
			.innerPortfolio
				.titleWorks
					h1
						font-size: 39px
					h4
						font-size: 22px
		.experience-contact
			.experience
				.innerExperience
					#titleExperience
						h1
							font-size: 39px
					.firstJob
						.info
							.year
								h3
									font-size: 15px
							.company
								h2
									font-size: 21px
							.position
								h3
									font-size: 14px
							.description
								p
									font-size: 14px
			#contact
				.leftSide
					.titleLS
						h2
							font-size: 21px
					.contentLS
						p
							font-size: 14px
					.infoLS
						h4
							font-size: 14px


